*{
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.fondo{
    background-color: #1E2023;
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.LOGO{
    display: block;
    width: 150px;
    margin: auto;
    color: aliceblue;
    padding-left: 30px;
}

nav{
    
    background-color: #1E2023;
    display: block;
    width: auto;
    margin: auto;
    
}
header{
    
    display: flex;
    border-bottom: 1px solid rgb(255, 0, 204);
    padding: 20px;
    align-content: center;
}
.footer{
    background-color: #1E2023;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(255, 0, 204);
}

a{
    text-decoration: none;
    font-size: 17px;
}
p{
    font-size: 17px;
}
a:hover{
    color: deeppink !important;
}
i{
    font-size: 25px !important;
}
.font{
    font-size: 12px;
}
.destacados{
    text-align: center;
    color: white;
   margin-top: 80px;
}
.cartas{
    justify-content: center;
}
.contacto{
    text-align: center;
    color: white;
    padding: 50px;
}
.maps{
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
}
.conocenos{
    text-align: center;
    color: white;
    margin: 30px;
}
.info{
    text-align: center;
    color: white;
    margin: 30px;
}
.compra{
    text-align: center;
    color: white;
    margin: 30px;
    
}
ul{
    list-style: none;
}
.ulcompra{
    padding-bottom: 500px;
}
.h1product{
    text-align: center;
    color: white;
    margin: 20px;
}