header{
    display: flex;
    border-bottom: 1px solid rgb(255, 0, 204);
    padding: 20px;
    align-content: center;
        nav{
            background-color: #1E2023;
            display: block;
            width: auto;
            margin: auto;
        }
}