a{
    text-decoration: none;
    font-size: 17px;
}
p{
    font-size: 17px;
}
a:hover{
    color: deeppink !important;
}
i{
    font-size: 25px !important;
}
.font{
    font-size: 12px;
}
.destacados{
    text-align: center;
    color: white;
   margin-top: 80px;
}
.contacto{
    text-align: center;
    color: white;
    padding: 50px;
}
.conocenos{
    text-align: center;
    color: white;
    margin: 30px;
}
.info{
    text-align: center;
    color: white;
    margin: 30px;
}
.compra{
    text-align: center;
    color: white;
    margin: 30px;
}
.h1product{
    text-align: center;
    color: white;
    margin: 20px;
}