*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-bottom: 3em;
    min-height: 100vh;
}
.fondo{
background-color: #1E2023;
position: relative;
padding-bottom: 3em;
min-height: 100vh;
}